<!-- Content -->
    <div class="content-wrapper">
      <div class="container">
        <div class="row mb-lg-3">
          <div class="col-lg-10">
            <p style="font-size: small;"><strong>Cars ></strong><strong> List Car ></strong> Add New Car</p>
          </div>
          <div class="col-lg-2">
          </div>
        </div>
        <div class="row mb-3">
          <div class="col">
            <p style="font-weight: bold; font-size: 20px;">Add New Car</p>
          </div>

          <form action="/admin/car" method="post" enctype="multipart/form-data">
          <div class="form-list">
            <div class="card" style="width: 97%; margin-left: 1%;">
              <div class="card-body">
                <div class="row mb-3">
                  <label for="colFormLabelSm" class="col-sm-2 col-form-label col-form-label-sm"
                    style="font-size: small;">Nama</label>
                  <div class="column col-sm">
                    <input type="text" class="form-control form-control-sm" name="name" id="colFormLabelSm" placeholder="Avanza" autofocus>
                  </div>
                </div>
                <div class="row mb-3">
                  <label for="colFormLabelSm" class="col-sm-2 col-form-label col-form-label-sm"
                    style="font-size: small;">Sewa Per Hari</label>
                  <div class="column col-sm">
                    <input type="text" class="form-control form-control-sm" name="rent" id="colFormLabelSm" placeholder="Rp.0,-">
                  </div>
                </div>
                <div class="row mb-3">
                  <label for="colFormLabelSm" class="col-sm-2 col-form-label col-form-label-sm"
                    style="font-size: small;">Ukuran</label>
                  <div class="column col-sm">
                    <select class="form-select" id="specificSizeSelect" name="size" style="font-size: small; color: gray;">
                      <option value="Small">Small</option>
                      <option value="Medium">Medium</option>
                      <option value="Large">Large</option>
                    </select>
                  </div>
                </div>
                <div class="row mb-3">
                  <label for="colFormLabelSm" class="col-sm-2 col-form-label col-form-label-sm">Foto</label>
                  <div class="column col-sm">
                    <input type="file" class="form-control form-control-sm"  id="colFormLabelSm"
                      placeholder="http://some-domain/image1.jpg" name="image">
                    <div id="textHelp" class="form-text">File size max. 2MB</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
    
        </div>
      </div>
      <a href="/" type="button" class="btn btn-outline-primary mx-4"> Cancel</a>
      <button type="submit" class="btn btn-primary btn-small fw-bold mx-2">Save
        </button>


      <!-- <div class="row mt-5 pt-5">
        <a href="" type="submit" class="btn btn-white btn-small fw-bold mx-2">Cancel</a>
        <button type="submit" class="btn btn-blue btn-small fw-bold mx-2">Save
        </button>
    </div> -->
  </form>

    </div>
  </div>
</div>