<!-- Nav Bar -->
  <nav class="navbar navbar-expand-lg navbar-light py-0">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item" style="padding-left: 350px;">
            <button id="sidebarToggle" class="btn sidebarToggle">
              <i class="fas fa-bars"></i>
          </li>
        </ul>
        <div class="nav-form">
          <form class="d-flex" action="/admin/search">
            <input class="form-control" type="search" style="font-size: smaller;" placeholder="Search"
              aria-label="Search" name="query">
            <button class="btn btn-outline-primary" style="color:#0D28A6; font-weight: bold; font-size: smaller;"
              type="submit">Search</button>
          </form>
        </div>
        <div class="profile">
          <div class="dropdown">
            <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown"
              aria-expanded="false">
              <img src="./images/profile.png" alt="">
              Unis Badri
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
              <li><a class="dropdown-item" href="#"><i class="fa-solid fa-user"></i> Profile</a></li>
              <li><a class="dropdown-item" href="#"><i class="fa-solid fa-gear"></i> Settings</a></li>
              <li><a class="dropdown-item" href="#"><i class="fa-solid fa-arrow-right-from-bracket"></i> Logout</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </nav>