<!-- Side Bar -->
<div class="sidenav">
  <!-- Nav Item - Logo -->
  <li class="nav-item mb-5">
    <a class="nav-logo" href="/"> <span></span></a>
  </li>
  <!-- Nav Item - Dashboard -->
  <li class="nav-item mb-2 mt-1">
    <a class="nav-link" href="">
      <i class="fa-solid fa-house"></i>
      <span>Dashboard</span></a
    >
  </li>
  <!-- Nav Item - Cars -->
  <li class="nav-item mb-2" style="background-color: #cfd4ed">
    <a class="nav-link" href="">
      <i class="fa-solid fa-truck"></i>
      <br />
      <span>Cars</span></a
    >
  </li>
</div>
